In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('figures/four_peaks/sa_table.csv')

In [27]:
df

,Temperature,Decay Type,Best Fitness Mean,Best Time Mean,Best FEvals Mean,Best Iterations Mean
0,1,ArithDecay,30.0,8.32,1629,1298
1,1,ExpDecay,30.0,8.21,897,630
2,1,GeomDecay,30.0,8.22,897,630
3,10,ArithDecay,30.0,8.30,17933,9311
4,10,ExpDecay,30.0,8.16,5527,3204
5,10,GeomDecay,30.0,8.26,5527,3204
6,100,ArithDecay,12.0,8.37,19909,9996
7,100,ExpDecay,30.0,8.35,8513,4532
8,100,GeomDecay,30.0,8.24,8513,4532
9,1000,ArithDecay,7.0,8.35,13269,6635
10,1000,ExpDecay,30.0,8.36,10786,5777
11,1000,GeomDecay,30.0,8.38,10786,5777
12,10000,ArithDecay,6.0,8.43,1132,566
13,10000,ExpDecay,30.0,8.31,11815,6167
14,10000,GeomDecay,30.0,8.19,11815,6167

In [28]:
df['Decay Type'] = df['Decay Type'].apply(lambda x: x.replace('Decay', ''))

In [29]:
df['Best Fitness Mean'] = df['Best Fitness Mean'].apply(lambda x: f"{x/47:.3f}")

In [30]:
df['Best Time Mean'] = df['Best Time Mean'].apply(lambda x: f"{x:.2f}")

In [31]:
for key in ['Temperature', 'Decay Type',	'Best Fitness Mean', 'Best Time Mean']:
    df[key] = df[key].apply(lambda x: f"{x} & ")

In [32]:
key = 'Best FEvals Mean'
df[key] = df[key].apply(lambda x: f"{x} \\\\")

In [33]:
df[['Temperature', 'Decay Type', 'Best Fitness Mean', 'Best Time Mean', 'Best FEvals Mean']].style.hide(axis='index')